* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, serif;
    color: rgb(0, 21, 51);
}

body {
    background-color: rgb(56, 169, 255);
}

header {
    height: 100px;
    background-color: white;
}

#logo {
    height: 100px;
    vertical-align: middle;
}

#logo_title {
    height: 100px;
    font-weight: 700;
    font-size: 40px;
    vertical-align: middle;
}

#header_logo hr {
    color: rgb(56, 169, 255);
}

main {
    width: 800px;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
} 

